<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Teacher Portal</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="user">Username: </label>
            <input type="text" id="user" name="username" required>
            <br><br>
            <label for="Password">Password: </label>
            <input type="password" id="Password" name="password" required>
            <br><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>
